/* RESETEO DEL CSS */
*{
    margin: 0;
    padding: 0;
    font-family: 'Opens Sans',sans-serif;
    box-sizing: border-box;
}
/* APLICANDO GRID */
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    bottom: 0;
    margin-top: auto;
    grid-area: footer;
}

.aside-container-left{
    grid-area: aside-left;
}
.aside-container-rigth{
    grid-area: aside-rigth;
}

.grid-container{
    height: 100vh;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 3fr 5fr 1fr; /* 45% 55% 5% */
    grid-template-rows: 1fr 18fr 1fr; /* 5% 90% 5% */
    grid-template-areas:
    "header header header" /*  */
    "aside-left main aside-rigth"
    "footer footer footer";
}


/* .container-logo{
    display: inline-block;
    position: absolute;    
}

.container-logo h2{
    color: #FF5733;
    padding: 1em;
}
 */
 
 /* BARRA DE MENU */
.nav_responsive-ul{
    display: none;
}
/* DESHABILITADO */
.nav {
    /* COLOR */
    background-image: linear-gradient(to right, #0fddf0, #00bdff, #0098ff, #006bff, #3712eb);
    display: flex;
    justify-content: flex-end;
}

.nav_li{
    display: inline-block;
    padding: 20px;
    margin: 10px;
    color: #fff; /* ICON */
}

.nav_li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.nav_li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}


.nav_li:hover> a{
    color: #00e4ff; /* LETRA */
}

.nav_li:hover{
    color: #00e4ff; /* ICON */
}


 /* INICIO */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex_item {
    color: #fff;
    padding:5px;
}
.flex_item:hover{
    border-radius: 30px;
}

.flex_item h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(31,71,170);
    font-size: 2em;
}

.flex_item h2{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    color: #FF5733;
    padding: 10px;
}

.flex_item p{
    display: flex;
    justify-content: center;
    color: rgb(27, 4, 4);
    font-size: 1em;
    font-weight: bold;
    padding-left: 10px;
}
.flex_item-buttom{
    display: flex;
    justify-content: center;

}
.flex_item-buttom button:hover{
   background-color: green;

}
/* BOTONES FLOTANTE */
#btn-flotante{
    display: none;
}
.aside-container-rigth{
    position: fixed;
    bottom: 220px;
    right: 20px;
}

.redes-container a , .btn-float{
    display: block;
    text-decoration: none;
    background-color: rgb(31,71,170);
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0,0.4);
    transition: all 500ms ease;
}
.redes-container a:hover{
    background: #fff; /* FONDO */
    color:#FF5733 /* ICON */
}

.redes-container a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-flotante:checked~ .redes-container a{
   margin-bottom: 10px;
   opacity: 1;
   visibility: visible;
}
.btn-float{
    cursor: pointer;
    background: #FF5733;
    font-size: 23px;
}

#btn-flotante:checked~ .btn-flotante .btn-float{
    transform: rotate(137deg);
    font-size: 25px;
}

.flex_item img {
    margin: 0;
    background-size: cover;  
    border-radius: 30px;
    height: 20em;
    width: 30em;
    /* SE AJUSTA A LA CAJA */
}

/* CONTACTO */
.main-container-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.flex_main-contacto {
    border: 1px solid rgb(0, 0, 0);
    margin: 20px;

}
.m-aiframe{
   width: 600px;
}

.form-main-contacto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.form-div{
    padding: 10px;
}
.form-div-control{
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgb(31,71,170);
    margin-bottom: 5px;
}
.form-div-buttom{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

@media (min-width:0px) and (max-width: 400px) {
    .grid-container{
        display: grid;
        gap:1em;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "header"
        "aside-rigth"
        "main"
        "aside-left"
        "footer";
    }
  
    .flex-container{
        font-size: .7em;
    }
    .flex_item img {
        margin: 0;
        background-size: cover;  
        border-radius: 30px;
        height: 15em;
        width: 25em;
    }
    .aside-container-rigth{
        display: none;
    }

    /* SKILL -AJUSTAR TAMAÑO DE IMAGENES */
    .flex_main-servicio img {   
        background-size: cover;  
        margin: 20px;
        border-radius: 30px;
        height: 10em;
        width: 12em; 
    }
   /* PROYECTO - AJUSTAR TAMAÑO DE IMAGENES */
   .flex_main-proyecto img {
    border-radius: 30px;
    height: 2em;
    width: 2em; 
    object-fit: cover; 
    /* SE AJUSTA A LA CAJA */

}

    /* CONTACTO */
    .m-aiframe{
        width: 300px;
     }
}
@media (min-width: 401px) and (max-width: 600px) {
    .grid-container{
        display: grid;
        gap:1em;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "header"
        "aside-rigth"
        "main"
        "aside-left"
        "footer";
    }

    .flex-container{
        font-size: 0.9em;
    }
    .flex_item img {
        padding: 10px;
        background-size: cover;  
        border-radius: 30px;
        height: 15em;
        width: 22em;
    }
    .aside-container-rigth{
        bottom: 230px;
        right: 20px;
    }
    .redes-container a , .btn-float{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
        /* CONTACTO */
        .m-aiframe{
            width: 400px;
         }

}

@media (min-width: 601px) and (max-width: 1023px) {
    .grid-container{
        display: grid;
        gap:1em;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "header"
        "aside-rigth"
        "main"
        "aside-left"
        "footer";
    }

    .flex-container{
        font-size: 1em;
    }
    .flex_item img {
        padding: 10px;
        background-size: cover;  
        border-radius: 30px;
        height: 20em;
        width: 30em;
    }

        /* CONTACTO */
        .m-aiframe{
            width: 500px;
         }
}

/* FOOTER */

.flex_container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    background-image: linear-gradient(to right, #0fddf0, #00bdff, #0098ff, #006bff, #3712eb);
    color: #fff;
}

.flex-footer{
    padding: 10px;
    margin: 20px;
}
.flex-footer span,.flex-footer_p{
    display: flex;
    justify-content: center;
}


.flex-footer-a{
    padding: 9px;
}
.flex-footer-ai{
    padding-right: 30px;
    color: #fff; /* ICON */
}
.flex-footer-a:hover{
    color: #555 /* ICON */
}


/* SKILL */

.main-container-servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.flex_main-servicio img {  
    margin: 20px;
    border-radius: 30px;
    height: 10em;
    min-width:15em;
    object-fit: cover; 
    /* SE AJUSTA A LA CAJA */
}
 

/* PROYECTOS */

.main-container-proyecto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.flex_main-proyecto {
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 15px;
}
.flex_main-proyecto img {   
    border-radius: 30px;
    height: 10em;
    min-width:15em;
    background-size: cover; 
    /* SE AJUSTA A LA CAJA */
}
 
.flex_main-proyecto:hover{
    color: #fff;
    background-color: rgb(119, 220, 228);
    transition: .1s;
}