* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  bottom: 0;
  margin-top: auto;
  grid-area: footer;
}

.aside-container-left {
  grid-area: aside-left;
}

.aside-container-rigth {
  grid-area: aside-rigth;
}

.grid-container {
  height: 100vh;
  display: grid;
  gap: 1.5em;
  grid-template-columns: 3fr 6fr 1fr;
  /* 45% 55% 5% */
  grid-template-rows: 1fr 12fr 1fr;
  /* 5% 90% 5% */
  grid-template-areas: "header header header" "aside-left main aside-rigth" "footer footer footer";
}

nav {
  background-color: #3700B3;
  display: flex;
  justify-content: flex-end;
}
nav li {
  display: inline-block;
  list-style: none;
  padding: 1em;
  margin: 3px;
  color: white;
}
nav li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: bold;
}
nav li i {
  margin-right: 5px;
}

.aside-container-left {
  display: flex;
  margin: 10px;
}

.flex_item {
  width: 85%;
}
.flex_item h2 {
  text-align: center;
  margin: 0px auto;
  color: white;
  font-size: 70px;
  letter-spacing: 3px;
  top: 50%;
  margin-top: -10px;
  text-shadow: -1px -1px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0), 6px 6px 0px #633fb1;
}
.flex_item p {
  margin: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
}
.flex_item img {
  height: 25rem;
  object-fit: cover;
}

.flex_item-buttom {
  display: flex;
  justify-content: center;
}

/* BOTONES FLOTANTE */
#btn-flotante {
  display: none;
}

.aside-container-rigth {
  position: fixed;
  bottom: 220px;
  right: 20px;
}

.redes-container a,
.btn-float {
  display: block;
  text-decoration: none;
  background-color: rgb(31, 71, 170);
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
}

.redes-container a:hover {
  background: #fff;
  /* FONDO */
  color: #FF5733;
}

.redes-container a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-flotante:checked ~ .redes-container a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.btn-float {
  cursor: pointer;
  background: #FF5733;
  font-size: 23px;
}

#btn-flotante:checked ~ .btn-flotante .btn-float {
  transform: rotate(137deg);
  font-size: 25px;
}

.main-container-servicio {
  display: flex;
  flex-wrap: wrap;
}

.flex_main-servicio img {
  margin: 20px;
  border-radius: 30px;
  height: 10em;
  width: 20rem;
  object-fit: cover;
}

.main-container-proyecto {
  display: flex;
  flex-wrap: wrap;
}
.main-container-proyecto .flex_main-proyecto {
  margin: 1rem;
  text-align: center;
}
.main-container-proyecto .flex_main-proyecto .card:hover {
  background-color: #DCDCDC;
}

.flex_main-formulario {
  display: flex;
}

.form-main-contacto {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-main-contacto .form-text {
  text-align: center;
  font-weight: bold;
}

.form-div {
  padding: 5px;
}
.form-div .label-text {
  font-weight: bold;
}

.form-div-control {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid rgb(31, 71, 170);
  margin-bottom: 5px;
}

.form-div-buttom {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.main-container-contacto {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
}

.m-aiframe {
  width: 600px;
}

.footer_grid-1 {
  grid-area: sgrid-1;
}

.footer_grid-2 {
  grid-area: sgrid-2;
}

.footer_grid-3 {
  grid-area: sgrid-3;
}

footer {
  background-color: #2f0396;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "sgrid-1 sgrid-2 sgrid-3";
}
footer section {
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 10px;
}
footer section h6 {
  font-weight: bold;
  text-align: center;
}
footer section p {
  text-align: center;
}
footer section .flex-footer-a {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.boton-facebook {
  color: #acd0ec;
  padding-right: 1rem;
}
.boton-facebook:hover {
  color: #f6ffff;
}

.boton-whastapp {
  color: #65f341;
  padding-right: 1rem;
}
.boton-whastapp:hover {
  color: #f6ffff;
}

.boton-instagram {
  color: #b6ae65;
  padding-right: 1rem;
}
.boton-instagram:hover {
  color: #f6ffff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*MOBILE*/
@media (max-width: 480px) {
  .grid-container {
    display: grid;
    gap: 1em;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "aside-left" "main" "footer";
  }

  .flex_item h2 {
    font-size: 1.5rem;
  }

  .aside-container-rigth {
    display: none;
  }

  .m-aiframe {
    width: 300px;
  }

  footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "sgrid-1" "sgrid-2" "sgrid-3";
  }
}
/* RESPONSIVE TABLET */
@media (min-width: 481px) and (max-width: 800px) {
  .grid-container {
    display: grid;
    gap: 1em;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "aside-left" "main" "aside-rigth" "footer";
  }

  .aside-container-rigth {
    bottom: 230px;
    right: 20px;
  }

  /* CONTACTO */
  .m-aiframe {
    width: 400px;
  }
}
@media (max-width: 801px) and (min-width: 1024px) {
  .grid-container {
    display: grid;
    gap: 1em;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "aside-rigth" "main" "aside-left" "footer";
  }

  /* CONTACTO */
  .m-aiframe {
    width: 500px;
  }
}

/*# sourceMappingURL=styles.css.map */
