
$card-hover: #DCDCDC;

.main-container-proyecto{
    display: flex;
    flex-wrap: wrap;
    .flex_main-proyecto{
        margin: 1rem;
        text-align: center;
        .card{
            &:hover{
                background-color: $card-hover;
            }
        }
    }
 
}